/*-----reset-----*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*-----header-----*/
.header {
  width: 100%;
  height: 200px;
  margin-top: 5px;
  position: relative;
  /* background-color: #EEE; */
  box-shadow: 5px 5px 15px -15px;
  -webkit-box-shadow: 5px 5px 15px -15px;
  -moz-box-shadow: 5px 5px 15px -15px;
}

.navbar {
  justify-content: center;
  margin: 0px 100px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.global-nav {
  height: 100px;
  justify-content: center;
  margin: 0px 100px;
}

.global-nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.global-nav ul li a {
  display: block;
  padding: 20px;
  font-family: serif;
  letter-spacing: 0.3em;
  text-align: center;
}

.main-name {
  font-size: 1.2em;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 0.6em;
}

/*-----main-----*/
/*---hero slider---*/
#slider {
  margin: 0;
  padding: 0;
  width: 100%;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.slide1 {
  display: none;
  background-image: url(./image/smp3.jpg);
}

.slide2 {
  display: none;
  background-image: url(./image/smp4.jpg);
}

.slide3 {
  display: none;
  background-image: url(./image/smp2.jpg);
}

.arrow {
  cursor: pointer;
  position: absolute;
  margin-top: 45vh;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 20px 20px 20px 0;
  border-color: transparent gray transparent transparent;
  left: 0;
  margin-left: 30px;
  opacity: 0.6;
}

#arrow-right {
  border-width: 20px 0px 20px 20px;
  border-color: transparent transparent transparent gray;
  right: 0;
  margin-right: 30px;
  opacity: 0.6;
}
/*-----FOOTER-----*/
footer{
  width: 100%;
  color: #333;
  height: auto;
  font-family: serif;

}
.container{
  margin: 0 auto;
  color: #333;
  font-weight: bold;
}

/*-----SOCIALS-----*/

.socialIcons ul{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #666;

}

.socialIcons ul li{
  margin-right: 30px;
}

.socialIcons ul li:first-of-type{
  margin-left: 15px;
}


.socialIcons a:hover{
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5;
}
.moon{
  color: #fff;
}

/*-----FOOTER MENU-----*/

.footerMenuWrapper{
  background-color: #fff;
}

.footermenu{
  width: 70%;
  margin: 0 auto;
  padding: 50px 100px;
  display: flex;
}

.menu{
  padding: 0 30px;
  margin-right: 80px;
}

.menu p{
  border-bottom: solid 1px #ffffff;
  margin-bottom: 30px;
}
.menu>ul>li{
  margin: 10px 0;
  font-weight: normal;
}

.footerLogo p{
  font-size: 0.7em;
  text-align: center;
  color:gray;
}

/*-----COPYRIGHT-----*/

.copyright-wrapper{
  text-align: center;
}
.copyright{
  display: block;
  background-color: #fff;
  width:100%;
  letter-spacing: 0.3em;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright a{
  color:#333;
}
